<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary text-white">
          <h4>Github User Search</h4>
        </div>
        <div class="card-body">
          <form class="form-inline" (submit)="getUser()">
            <div class="form-group">
              <input [(ngModel)]="userName" name="user" size="40" type="search" class="form-control" placeholder="github user">
            </div>
              <!-- {{userName}} -->
            <div class="">
              <input (click)="getUser()" type="submit" class="btn btn-secondary btn-sm" value="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
